body{
  background: #e2e2e2 !important;
  font-family: 'Lato', sans-serif !important;
}

.container {
  margin-top: 25px;
  background: #e2e2e2;
}

img{
  height: 60px;
  width: 60px;
}

td, th {
  vertical-align: middle !important;
}

.rank, .recent, .all-time{
  text-align: center;
}

.clickable{
  cursor: pointer;
  color:rgb(33, 31, 175) ;
}
